.list {
  list-style: none;
  margin-left: 200px;
  margin-right: 200px;
  padding: 0;
}

.sorting {
  margin-top: 30px;
  padding-bottom: 1rem;
  border-bottom: 3px solid #b2d4d4;
  margin-bottom: 2rem;
}

.sorting button {
  margin-top: 10px;
  margin-left: 10px;
  font: inherit;
  color: teal;
  border: 1px solid teal;
  background-color: transparent;
  border-radius:4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.sorting button:hover {
  background-color: #c2fafa;
}